.heading {
	font-weight: 500;
	margin-top: 10px;
	margin-left: 250px;
	display: inline-block;
}	

p {
	margin-left: 10px;
}

img {
	width: 441px;
	height: 276px;
	border: 1.4px ridge #000000;
	margin-left: 200px;
}

.link {
	margin-left: 10px;
}