.heading {
	color: black;
	font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
	font-weight: 500;
	margin-left: 250px;
	display: inline-block;
}	

p {
	font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
	font-weight: 300;
}

img {
	width: 441px;
	height: 276px;
	border: 1.4px ridge #000000;
	margin-left: 200px;
}

.link {
	color: blue
}